@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&family=Roboto:wght@300;500;900&display=swap');

:root { 
    --main-text-color: black;
    --off-text-color: white;
    --main-font: 'Roboto', sans-serif;
    --highlight-font: 'Roboto Mono', monospace;
    --background-color: #fff;
    font-size: 16px;
}

html, body { 
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: var(--main-font);
}

.landing { 
    height: 110vh;
    width: 100vw;
}

.landing h1 { 
    font-size: 17vw;
    font-family: var(--main-font);
    position: absolute;
    bottom: 5px;
    left: 20px;
    margin: 0;
}

.landing p { 
    font-family: var(--highlight-font);
    font-size: 1.5vw;
    font-weight: 300;
    position: absolute;
    right: 29vw;
    bottom: calc(3.7vw + 5px);
    margin:0;
}

/* --- Nav Styles --- */

nav { 
    position: fixed;
    border-bottom: 3px solid black;
    margin-left: 25px;
    width: calc(100% - 50px);
    background-color: var(--background-color);
    z-index: 3;
}

ul { 
    padding: 0;
}
ul li { 
    font-weight: 300;
    font-size: 1.1em;
    font-family: var(--main-font);
    display: inline-block;
    padding-right: 3em;
    padding-top: 1.5em;
    margin: 0;
}

/* --- CONTENT GRID --- */

.content { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 5em;
    margin: 0 50px;
}

/* --- Foreward --- */
.foreward { 
    grid-column-start: 2;
    grid-column-end: 4;
    
}

.foreward-pairing { 
    grid-column-start: 5;
    background-image: url("assets/photo-1621361365424-06f0e1eb5c49.jpg");
    background-position: right;
}

/* --- TEXT --- */
h2 { 
    font-size: 3em;
    font-family: var(--highlight-font);
}

.content p { 
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
}

/* --- Section 1 --- */

.one { 
    grid-row-start: 2;
}

.two { 
    grid-row-start: 3;
}

.three [ 
    grid-row-start: 4;
]

.four { 
    grid-row-start: 5;
}

.five { 
    grid-row-start: 6;
}

.six { 
    grid-row-start: 7;
}

.seven { 
    grid-row-start: 8;
}

.section-number { 
    grid-column-start: 1;
}

.section-content {
    grid-column-start: 2;
    grid-column-end: 5;
}

/* --- ACTORS --- */
.actor-title { 
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1.7em;
}

.actor-content { 
    grid-column-start: 4;
    grid-column-end: 6;
}

/* --- CARDS --- */

.card { 
    margin: 3em auto;
}

.action-card-wrapper { 
    position: relative;
    height: 13vw;
    width: 61vw;
    margin: 0 auto;
}

.action-card-before { 
    background-color: #111111;
    width: 61vw;
    height: 13vw;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

.action-card { 
    z-index: 1;
    width: 61vw;
    height: 13vw;
    position: absolute;
    padding: 3vw;
    background-color: #363636;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 { 
    font-family: var(--highlight-font);
    font-size: 1.5vw;
    margin: 0;
}

.action-card p { 
    font-size: .85vw;
    font-weight: 300;
    line-height: 1.75vw;

}

